body {
    background-color: aqua;
    
}
h1 {
    text-align: center;
    
}

h2 {
    text-align: right;
    margin-right: 100px;
}
h3{
    margin-right: 50px;
}

.sender {
    font-style: oblique;
    
}
.innerMessage {
display: none;
color: green;
}

.innerMessageNew {
    display: none;
    color: green;
}




