body {
    background-color: aqua
}
h1 {
    text-align: center
    
}

h2 {
    text-align: right

}
.sender {
    font-style: oblique;
    
}

#newMessage{
    background-color: skyblue;
    font-size: 16px;
    border-color: black;
}
.innerMessage {
display: none;
color: green;
}